.navbar {
    display: flex;
    width: 100vw;
    height: auto;
    padding-left: 15px;
    border-bottom: 5px solid rgb(110, 44, 20);
    background-color: rgb(206, 119, 87);
    border-radius: 5px;
    justify-content: space-between;
}

.navbar:nth-child() {
    background-color: rgb(206, 119, 87) ;
}

.navbar_buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: flex-end;
    margin-right: 50px;
    margin-bottom: 12px;
    background-color: rgb(206, 119, 87);
}
.navbar_buttons div{
    padding: 5px;
    background-color: rgb(206, 119, 87);
}

.navbar img {
    max-height: 100px;
    max-width: 100px;
    padding-left: 35px;
    background-color: rgb(206, 119, 87);
}

.navbarLogo {
    background-color: rgb(206, 119, 87);
    cursor: pointer;
    
}

.navbarLogo h2 {
    background-color: rgb(206, 119, 87);

}