*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(100, 163, 124); */
}

.MainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(100, 163, 124)
}

.MainPageContent {
    min-height: calc(100vh - 281px);
}

