.deviceItemConteiner {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    /* border: 3px solid rgb(2, 51, 4); */
    border-radius: 18px;
    flex-wrap: wrap;
    cursor: pointer;
   justify-content: center;
    margin-top: 20px;
    background: white;
    box-shadow: 
    -28px 27px 37.5px rgba(0,0,0,0.53),
    10px -19px 37.5px rgb(134, 219, 167),
    inset 4px -4px 8px rgb(0,0,0,0.53),
    inset -5px 5px 12px #fff;
    overflow: hidden;
}

.deviceItemConteiner img {
   display: flex;
   flex-wrap: wrap;
   max-height: 75%;
   width: auto;
   object-fit:contain;
   
}

.deviceItemName {
    display: flex;
   justify-content: space-between;
    padding: 0;
    margin: 0;
       
}


.deviceItemConteiner div {
  margin: 5px;
}

.rating {
    display: flex;
    flex-wrap: nowrap;
}

.rating img {
    width: 15px;
    height: 15px;
}

