.modalWindow {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

}    

.modalWindow.active {
    opacity: 1;
   pointer-events: all;
   
}

.modalWindow_content {
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(100, 163, 124);
    border: 3px solid rgba(32, 71, 32, 0.699);
    width: 50vw;
    height: auto;
    transform: scale(0.5);
    transition: 0.4s all;

}

.modalWindow_content.active {
    transform: scale(1) ;
}