.shopPage {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.shopContainer {
    display: grid;
    float: left;
    grid-template-columns: 1fr 11fr;
}

.shopTypebar {
    width: 250px;
    margin: 20px;

}

.shopTypebarReset {
    margin: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
