.BrandBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    justify-content: left;
    align-items: center;
}

.brandCard {
    display: flex;
    border: 1px solid green;
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    
}

.brandCard:hover {
    background-color: rgb(161, 13, 129);
}

.brandCard:active {
    background-color: orange;
}

.brandCard:focus {
    background-color: red;
}

.brandCardSelected {
    display: flex;
    border: 1px solid green;
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    font: bold;
    background-color: red;
}